{% extends "_base.html" %}

{% block title %}{{ album.title }}{% endblock title %}

{% block content %}
    <div>
        {% if album.cover %}
            <img src="{{ album.cover.url }}" alt="{{ album.title }}">
        {% endif %}
        <h2>{{ album.title }}</h2>
        <p>Artist(s):</p>
        <ul>
            {% for artist in album.artists %}
                <li>{{ artist.name }}</li>
            {% endfor %}
        </ul>
        <p>Record label: {{ album.record_label }}</p>
        <p>Price: €{{ album.price }}</p>
    </div>
{% endblock content %}


